@import "../partials/colors";

#date-picker-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background_color;
    position: absolute;
    top: 0;
    left: 0;
    animation: slideIn .3s ease-in-out;
    background: rgba(12, 76, 8, 0.84);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(15.3px);

    .close-btn-cont {
        width: 100%;
        position: fixed;
        padding: 2rem;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: end;

        button {
            background: none;
            color: $accent-text-color;
            font-size: 2rem;
            border: none;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 2.3rem;
        padding: 1rem;
    }

    .dates-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 2rem;
        gap: 1rem;


        .date-container {
            display: flex;
            flex-direction: column;

        }

        .show-enddate-btn {
            background: none;
            color: $accent-text-color;
            cursor: pointer;
            border: none;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}

.react-datepicker__input-container {
    input {
        color: $accent-text-color;
        background: rgba(3, 3, 41, 0.76);
        font-size: 1.3rem;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
        -webkit-backdrop-filter: blur(5.7px);
        border: 1px solid rgba(3, 3, 41, 0.3);
        padding: 5px 15px;
    }

}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width:820px) {

    #date-picker-container {
        justify-content: start;
        padding: 1rem .3rem;
        gap: .5rem;

        .close-btn-cont {
            width: 100vw;
            position: fixed;
            padding: 0rem;
            top: 0;
            left: 0;
            z-index: 3;
            display: flex;
            justify-content: end;

            button {
                background: none;
                color: $accent-text-color;
                font-size: 2rem;
            }
        }

        h1 {
            font-size: 1.5rem;
        }

        .dates-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin: 2rem;

            gap: 3rem;

            .date-container {
                display: flex;
                flex-direction: column;
            }


        }

        button {
            width: fit-content;
            background-color: $accent-text-color;
            border: none;
            color: $background_color;
            font-size: 1.3rem;
            padding: .3rem .9rem;
            cursor: pointer;
        }

    }

}