.other-effects {
    margin-top: 2rem;

    .title-container {
        padding: 1rem;

        h3 {}
    }

    p {
        padding: 1rem;
    }

    .effects-container {

        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 7%;
        place-items: center;
        height: fit-content;

    }
}

.distal-effects-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3rem;

    .distal-effects-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding-top: 3rem;
    }
}