.other-effects {
    margin-top: 2rem;

    .title-container {
        padding: 1rem;

        h3 {}
    }

    p {
        padding: 1rem;
    }

    .effects-container {

        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 7%;
        place-items: center;
        height: fit-content;

    }
}