@import "./partials/cta_button";

.compact-asteroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid white;


    .date-container {
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 0 1rem;
        border-bottom: 1px solid white;

        .date {
            font-size: .7rem;
        }
    }

    .asteroid-data {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .5rem;
        width: 100%;
        padding: 0 2rem;

        p {
            padding-left: 1rem;
        }

        .is-hazard {
            color: rgb(252, 23, 23);
        }

        .is-safe {
            color: rgb(0, 255, 0);
        }
    }

    .btn-container {
        padding: 1rem 0;
    }

}