@import "./partials/colors";

#date-picker-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background_color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    animation: slideIn .3s ease-in-out;

    .close-btn-cont {
        width: 100%;
        position: fixed;
        padding: 2rem;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: end;

        button {
            background: none;
            color: $accent-text-color;
            font-size: 2rem;
        }
    }

    h1 {
        font-size: 2.3rem;
    }

    .dates-container {
        display: flex;
        padding: 1rem;
        margin: 2rem;

        gap: 3rem;

        .date-container {
            display: flex;
            flex-direction: column;
        }
    }

    button {
        width: fit-content;
        background-color: $accent-text-color;
        border: none;
        color: $background_color;
        font-size: 1.3rem;
        padding: .3rem .9rem;
        cursor: pointer;
    }

}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}