@import "./partials/colors";

.home {
    .hero-container {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 2rem;


        .hero-title {
            font-weight: 300;
            color: $accent-text-color;
            font-size: 5rem;
            width: 50%;

        }

        .hero-description {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .description-container {
                margin: 3rem 0;

                p {
                    font-size: 1.3rem;
                }
            }

            a {
                width: fit-content;
                background-color: $accent-text-color;
                border: none;
                color: $background_color;
                font-size: 1.3rem;
                padding: .3rem .9rem;
            }
        }
    }
}