.map-style-container {
    padding: 0;

    .close-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;

        span {
            color: orange;
        }
    }
}