@import "./styles/partials/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $background_color;
  color: $text-color;
  scroll-behavior: smooth;

}